<%- include head %>
<div class="container">
<h1></h1>
<div class="span3">
<fieldset>
<label>内容：</label>
<p><textarea width="500" height="200" id="Content"></textarea></p>
<a class="btn btn-primary" onClick="send()">Send</a>
<span>当前登录用户：</span>
<span id="nowuser"><%=user%></span>
</fieldset>
</div>

<div class="span3">
    <ul class="unstyled" id="message">

    </ul>
</div>

</div>

<%- include foot %>