<%- include head %>
<script src="/socket.io/socket.io.js"></script>
<div class="container">
<h1></h1>
<div class="span3">
<fieldset>
<label>内容：</label>
<p><textarea width="500" height="200" id="Content"></textarea></p>
<a class="btn btn-primary" onClick="send()">Send</a>
<span>当前登录用户：</span>
<span id="nowuser"></span>
</fieldset>
</div>

<div class="span3">
    <ul class="unstyled" id="message">

    </ul>
</div>

</div>
<script>
var socket;
var firstconnect = true;
var date = new Date();
var user = "<%=user%>";

document.getElementById('nowuser').innerHTML = user;
 
function connect() {
    if(firstconnect) {
        socket = io.connect(null); 
        socket.on('message', function(data){ message(data); });
        firstconnect = false;
    } else {
        socket.socket.reconnect();
    }
}
 
 
function message(data) {
    var _old = document.getElementById('message').innerHTML;
    document.getElementById('message').innerHTML =_old + data;
}
 
function send() {
    var val = document.getElementById('Content').value;
    var _send = {
        username:user,
        message:val
    }
    message(_send);
    socket.send(_send);
}

connect();
</script>


<%- include foot %>