<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>Angular & Socket.IO</title>
  <script type="text/javascript">var _Global = {};</script>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!--<script type="text/javascript" src="/javascripts/lib/jquery-1.7.js"></script>-->
  <script type="text/javascript" src="/javascripts/lib/angular.js"></script>
  <script type="text/javascript" src="/javascripts/controller/admin/app.js"></script>
  <script type="text/javascript" src="/javascripts/controller/admin/controller.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/editor/themes/default/default.css" />
  <script charset="utf-8" src="/editor/kindeditor-min.js"></script>
  <script charset="utf-8" src="/editor/lang/zh_CN.js"></script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
      <a class="brand" href="#">Project name</a>
        <ul class="nav">
          <li class="active"><a>Hello,{{user}}</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container" ng-controller="MainCntl" ng-view>

</div>
</body>
</html>