<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>Angular & Socket.IO</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/lib/jquery-1.7.js"></script>
  <script type="text/javascript" src="/javascripts/lib/angular.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="/javascripts/controller/controller.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body  ng-controller="MainCntl" ng-view>



</body>
</html>