<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
      <a class="brand" href="#">Project name</a>
        <ul class="nav">
          <li class="active"><a>Hello,{{user}}</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">
<h1></h1>
<div class="span8">

<form action="/post/add" method="POST">
<fieldset>

<label>标题：</label>
<input type="text" class="x-small" ng-model="post.title" name="title" />

<label>内容：</label>
<p><textarea class="input-xxxlarge" ng-model="post.content" name="content">2</textarea></p>
<input class="btn btn-primary" type="submit" ng-click="send(post)" value="Send" />
</fieldset>
</form>
<p></p>
<div class="alert alert-error"  ng-show="isError">
{{error}}
</div>
</div>

</div>