<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
      <a class="brand" href="#">Project name</a>
        <ul class="nav">
          <li class="active"><a>Hello,{{user}}</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">
<h1></h1>
<div class="span3">
<fieldset>

<label>标题：</label>
<input type="text" class="x-small" />

<label>内容：</label>
<p><textarea width="500" height="200" ng-model="content" name="content"></textarea></p>
<a class="btn btn-primary" ng-click="send(content)">Send</a>
</fieldset>
<p></p>
<div class="alert alert-error"  ng-show="isError">
{{error}}
</div>
</div>

<div class="span6">
    <ul class="unstyled" id="message-content">
        <li ng-repeat="item in chatlist">{{item.username}} says:{{item.message}} at({{item.time.second}})</li>
    </ul>
</div>

</div>